{% extends 'base.html' %}
{% load static %}  <!-- Load static here -->
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit{% else %}Create{% endif %} Destination{% endblock %}

{% block content %}
<h2>{% if object %}Edit{% else %}Create{% endif %} Destination</h2>

<!-- Display existing destination image if available -->
{% if object and object.image %}
    <img src="{{ object.image.url }}" alt="{{ object.name }}" class="img-fluid mb-4">
{% else %}
    <img src="{% static 'images/default_destination.jpg' %}" alt="Default destination image" class="img-fluid mb-4">
{% endif %}


<form method="post" enctype="multipart/form-data">  <!-- Allow file uploads -->
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="{% url 'destinations' %}">Back to Destinations</a>
{% endblock %}